In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,01-Jan-2021,13996.10,14049.85,13991.35,14018.50,258090905,15873.75
1,04-Jan-2021,14104.35,14147.95,13953.75,14132.90,494999295,28705.09
2,05-Jan-2021,14075.15,14215.60,14048.15,14199.50,492475349,30872.87
3,06-Jan-2021,14240.95,14244.15,14039.90,14146.25,632323316,34615.55
4,07-Jan-2021,14253.75,14256.25,14123.10,14137.35,559173512,33446.47

In [9]:
print(df['Date'].dtype)

object

In [11]:
print(df['High'])

0      14049.85
1      14147.95
2      14215.60
3      14244.15
4      14256.25
         ...
176    17622.75
177    17578.35
178    17610.45
179    17843.90
180    17947.65
Name: High, Length: 181, dtype: float64

In [12]:
df['Close']

0      14018.50
1      14132.90
2      14199.50
3      14146.25
4      14137.35
         ...
176    17396.90
177    17562.00
178    17546.65
179    17822.95
180    17853.20
Name: Close, Length: 181, dtype: float64

In [14]:
df['Date'].astype('category')

0      01-Jan-2021
1      04-Jan-2021
2      05-Jan-2021
3      06-Jan-2021
4      07-Jan-2021
          ...
176    20-Sep-2021
177    21-Sep-2021
178    22-Sep-2021
179    23-Sep-2021
180    24-Sep-2021
Name: Date, Length: 181, dtype: category
Categories (181, object): ['01-Apr-2021', '01-Feb-2021', '01-Jan-2021', '01-Jul-2021', ..., '30-Mar-2021', '31-Aug-2021', '31-Mar-2021', '31-May-2021']